{% extends 'layout.njk' %}
{% import 'parts/card.njk' as cards %}

{% block content %}

    {% call cards.userCard("Sua Conta", "user-dashboard container") %}
  
        <form action="/users?_method=PUT" method="POST">

            
            <div class="fields">

                {% include 'users/fields.njk' %}
                
                <input type="hidden" name="id" value={{ user.id }} />

            </div>

            <button class="button edit" type="submit">Atualizar</button>

        </form>

        <form id="form_delete" action="/users?_method=DELETE" method="POST">
        
            <input type="hidden" name="id" value={{ user.id }} />
            
            <button class="button delete" type="submit">Deletar</button>
        
        </form>

    {% endcall %}

    <script>

        const formDelete = document.querySelector("#form_delete")

        formDelete.addEventListener("submit", function (event) {

            const comfirm = confirm("Deseja Deletar sua conta ? Essa ação não poderá ser desfeita!!")

            if(!comfirm) event.preventDefault()
        })

    </script>

{% endblock %}