{% extends 'layout.njk' %}
{% import 'parts/card.njk' as cards %}

{% block content %}

    {% call cards.userCard("Cadastre-se", "user-register container") %}

        
        <form action="/users/register" method="POST">

            <article class="fields">

                {% include 'users/fields.njk' %}

            </article>

            <button class="button" type="submit">Salvar</button>

        </form>

    {% endcall %}

{% endblock %}