{% extends 'layout.njk' %}

{% block content %}

    <section class="container form">

        <form action="/products" method="post" enctype="multipart/form-data">

            <div class="header">

                <h3>Cadastrar novo Produto</h3>

            </div>

            <article class="fields">

                {% include 'products/fields.njk' %}

            </article>

            <button class="button" type="submit">Salvar</button>

        </form>

    </section>


{% endblock %}