<div class="item">

    <div>Categoria</div>

    <div>

        <select name="category_id">

            <option value="">Escolha uma categoria para o produto</option>

            {% for category in categories %}

                <option value="{{ category.id }}" 
                {% if product.category_id == category.id %}selected{% endif %}>{{ category.name }}</option>

            {% endfor %}

        </select>

    </div>

</div>

<div class="item">

    <div>Título</div>

    <div>

        <input name="name" value="{{ product.name }}" placeholder="Título do anúncio" />

    </div>

</div>

<div class="item">

    <div>Descrição</div>

    <div>

        <textarea name="description" >{{ product.description }}</textarea>

    </div>

</div>

<div class="item">

    <div class="images_title">Imagens</div>

    <article>

        <div id="photos_upload">

            <input type="file" id="photos_input" name="photos" accept="image/*" multiple 
            onchange="PhotosUpload.handleFileInput(event)" />

            <p>Selecione até 6 photos</p>            

        </div>

        <div id="photos_preview">

            {% if files %}
            
                {% for image in files %}

                <div class="photo" id="{{ image.id }}">

                    <img src="{{ image.src }}" alt="{{ image.name }}" />
                    
                    <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)" >delete_forever</i>
                    
                </div>

                {% endfor %}

                <input type="hidden" name="removed_files">

            {% endif %}


        </div>

    </article>

</div>

<div class="item">

    <div>Valor</div>

    <div>

        <input name="price" value="{{ product.price }}" placeholder="Preço R$"
            onkeydown="Mask.apply(this, 'formatBRL')"
        />

    </div>

    {% if product.old_price %}

        <input type="hidden" name="old_price" value="{{ product.old_price }}" />

    {% endif %}

</div>

<div class="item">

    <div>Quantidade</div>

    <div>

        <input type="number" name="quantity" value="{{ product.quantity }}" placeholder="Estoque Disponível" min="0" />

    </div>

</div>

{% if (product.status == '1') or (product.status == 0) %}

    <div class="item">

        <div>O Produto está disponível ?</div>

        <div>

            <span>

                <label for="available">
                    <input type="radio" name="status" id="available" value="1" {% if product.status == "1" %} checked {% endif %} />Sim
                </label>

            </span>

            <span>

                <label for="unvailable">
                    <input type="radio" name="status" id="unvailable" value="0" {% if product.status == "0" %} checked {% endif %} />Não
                </label>
                
            </span>
        </div>

    </div>

{% endif %}