{% extends 'layout.njk' %}
{% import 'parts/card.njk' as cards %}

{% block content %}

    {% call cards.userCard("", "product-single container") %}

        <div class="gallery">

            <div class="highlight">

                {% if not files[0] %}

                    <img src="http://placehold.it/500x500?text=Produto sem foto" />

                {% else %}

                    <img src="{{ files[0].src }}" alt="{{ files[0].name }}" onclick="LightBox.open()" />

                {% endif %}

                <article class="lightbox-target">

                    <img src="{{ files[0].src }}" alt="{{ files[0].name }}" />

                    <a href="#" 
                        class="highlight-close" 
                        onclick="LightBox.close()"
                        > 
                        <i class="material-icons">close</i> 
                    </a> 

                </article>

            </div>

            <div class="gallery-preview">

                {% for image in files %}

                    <img 
                        src="{{ image.src }}" 
                        alt="{{ image.name }}" 

                        {% if loop.index0 == 0 %}

                            class="active"

                        {% endif %}

                        onclick="ImageGallery.setImage(event)"
                    />
                
                {% endfor %}
                
            </div>

        </div>

        <article class="info">

            <h1>{{ product.name }}</h1>

            <div class="published">

                Publicado em {{ product.published.birthDate }} às {{ product.published.hour }}

            </div>

            <div class="description">
                
                {{ product.description }}
                
            </div>

            <div class="price-buy">

                <div class="price">

                   {{ product.formattedPrice }}

                   {% if product.formattedPrice !== product.formattedOldPrice %}

                        <span class="old">{{ product.formattedOldPrice }}</span>

                   {% endif %}

                </div>

                {% if (session.userId) and (product.user_id == session.userId) %}
                
                    <p class="unavailable">Seu produto</p>

                {% else %}

                    <div class="buy">

                        {% if product.status == 0 %}

                            <p class="unavailable">Produto indisponível :(</p>

                        {% elseif product.quantity == 0 %}

                            <p class="unavailable">Fora de estoque :(</p>

                        {% else %}

                            <form action="/users/orders" method="post">
                                <input type="hidden" name="id" value='{{ product.id }}' />
                                <button class="button">Comprar</button>
                            </form>

                        {% endif %}
                        
                    </div>

                {% endif %}

            </div>

        </article>

    {% endcall %}

{% endblock %}