section.login.container {
    max-width: 550px;
}

.login.container .fields {
    margin-bottom: 30px;
}

.login.container .button {
    margin-bottom: 24px;
}

.login.container .login-footer ul {
    display: flex;
    justify-content: space-evenly;
}

.login.container .login-footer ul li a {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    font-weight: 500;

    padding-bottom: 4px;
}

.login.container .login-footer ul li a:hover {
    filter: brightness(80%);
    font-weight: 700;

    transition: 150ms;
}