<header>

    <div class="container">

        <a href="/">
        
            <div class="logo">

                <h1>LaunchStore</h1>
                <h2>COMPRA E VENDA</h2>

            </div>

        </a>

        <form class="search" action="/products/search" method="get">

            <input name="search" value="{{ search.item }}" placeholder="Buscar produtos" />

        </form>

        <nav class="primary">

            <ul>

                <li>
                    <a href="/products/create">

                    <i class="material-icons">add</i>
                    Novo Anúncio

                    </a>
                </li>

                <li>
                    <a href="/acounts">
                    
                    <i class="material-icons">account_circle</i>
                    Minha Conta

                    </a>
                </li>

            </ul>

        </nav>

    </div>
    
</header>