{% macro products( name, classes, products ) %}

<section class="shop {{ classes }}">

    {% if name %}
        <h2>{{ name }}</h2>
    {% endif %}

    <div class="items" >

        {% for product in products %}

            <article class="product">

                <div class="image"
                    style = "background-image: url('{{ product.img if product.img else '//placehold.it/1100x600?text= Produto sem foto'}}')"
                >

                </div>

                <h4>{{ product.name }}</h4>

                <p>{{ product.formattedPrice }}</p>

                {% if product.formattedOldPrice != product.formattedPrice %}

                    <div class="old-price">{{ product.formattedOldPrice }}</div>

                {% endif %}

                <a href="/products/{{ product.id }}" class="button">Ver Produto</a>


            </article>

        {% endfor %}

    </div>

</section>

{% endmacro %}